#map {
  height: 95%;
  width: 80%;
}

#places {
  height: 95%;
  width: 100px;
  border-style: solid;
  border-width: 1px;
}

a:hover {
  background-color: yellow;
}

html,
body {
  height: 97%;
  margin: 4px;
  padding: 4px;
}
